@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
  height: 100vh;
  color: #fff;
  background-image: url("../assets/bg-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .bg-hero {
    background-image: url("../assets/bg-3.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.foo {
  background-image: url("../assets/bg-4.png");
  background-repeat: no-repeat;
  background-size: cover;
}
